/* Style for more general aspects such as the main body, logos and text */

main {
    font-family: 'Product Sans', sans-serif;
}

h1 {
    font-size: larger;
    font-weight: lighter;
}

section {
    display: inline-block;
    vertical-align: middle;
}

article {
    padding: 20px;
    line-height: 10%;
}

#logo {
    font-weight: 550;
    letter-spacing: -3.5px;
    font-size: 25px;
    cursor: default;
}

.logo {
    text-decoration: none;
    padding-right: 30px;
}

.search {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 575px;

    border-radius: 50px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
    border-width: 1px;
    box-shadow: 2.5px 2.5px 2.5px rgb(219, 217, 217);
}

/* Mock option bar and icon styling */

#options {
    display: inline;
}

ul li{
    padding: 30px;
    display: inline;
    list-style-type: none;
}

.all {
    text-decoration: underline;
}

.fa-search {
    padding: 10px;
}

.fa-search , .all { 
    color: #4c8bf5;
}

img {
    position: absolute;
    width: 30px;
    margin-top: 10px;
}

.icons {
    display: inline;
    font-size: 25px;
    margin-top: 10px;
}

/* styling for the tags within the article*/

a {
    text-decoration: none;
    color: darkgrey;
}    

a.resultTitle {
    color: #1906A7;
}

a.resultTitle:hover {
    text-decoration: underline;
}



